/*
* Everything fullscreen.
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', monospace;
}
/*
* You could style the timeline however you like, but we just make it wider here.
*/
.leaflet-left {
  width: 85%;
}

input{
  margin-left: 5px;
}
ul{
  padding-left: 0em;
  margin-left: 1em;
  list-style: none;
}
li {
  font-size: 80%;
}
h3 {
 margin-top: 0;
}
p {
 padding-left: 1em;
 margin-top: 0;
}
#map{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
}
#home-title {
  font-size: 36pt;
}
#home-title::after {
  content: "----------";
  font-size: 24pt;
  margin-top: -18px;
  display: block;
}
#menu-list {
  margin: 0px;
  overflow: hidden;
}
#menu {
  position: relative;
  color: #fff;
  font-size: 30pt;
  font-weight: 600;
  left: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
#menu:hover {
  color: #00aeff;
}

/* Overlay Menu */

/* The Overlay (background) */
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */
height: 100%;
width: 0%;
position: fixed; /* Stay in place */
z-index: 3; /* Sit on top */
display: flex;
flex-direction: column;
justify-content: center;
left: 0;
top: 0;
background-color: rgb(0,0,0); /* Black fallback color */
background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
overflow-x: hidden; /* Disable horizontal scroll */
overflow-y: hidden; /* Disable horizontal scroll */
transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
font-family: 'Raleway', sans-serif;
left: 10%;
width: 90%; /* 100% width */
text-align: right; /* Centered text/links */
transition: 0.5s;
}

/* The navigation links inside the overlay */
.overlay a {
padding: 8px;
text-decoration: none;
outline: none;
font-size: 36px;
color: #ccc;
display: block; /* Display block instead of inline */
transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
color: #00aeff;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

/* Sub Menus */

.mental-maps-menu {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  width: 0vw;
  height: auto;
  margin-top: 200px;
  left: 20vw;
  overflow-y: auto;
  line-height: 1;
  font-family: 'Raleway';
  font-size: 18pt;
  padding-bottom: 5px;
  margin-left: 10px;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

.admin-maps-menu {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  width: 0vw;
  height: auto;
  margin-top: 100px;
  left: 20vw;
  overflow-y: auto;
  line-height: 1;
  font-family: 'Raleway';
  font-size: 18pt;
  padding-bottom: 5px;
  margin-left: 10px;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Side panel div */

.sidepanel {
  width: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  color: #eee;
  z-index: 1; /*keep on top*/
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 28vw;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #eee;
  display: block;
  transition: 0.3s;
  z-index: 1; /*keep on top*/
}
.sidepanelDiv {
  width: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
}
.popupNotes {
  padding: 0;
  margin: 0;
  padding-left: 1em;
}
.popupRefs {
  margin-top: 0.7em;
}
.notesList {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  margin-left: 1em;
  list-style: circle;
}
.popupDynMetal {
  margin-left: 2em;
  text-indent: -2em;
}
.leaflet-popup-content h1 {
  font-size: 1.5em;
}
#sidepanelButton {
  position: relative;
  font-size: 24pt;
  color: white;
  left: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
#sidepanelButton:hover {
  color: #00aeff;
}
<!--
#yearDecadeToggle {
  position: fixed;
  bottom: 3vh;
  /*left: 85vw;*/
  right: 1vw;
  padding: 0px;
  margin: 0px;
  width: 200px;
  height: 55px;
  background: #FF931E;
  z-index: 1; /*keep on top*/
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  cursor: pointer;
}
#yearDecadeToggle p {
  color: #fff;
  line-height: 55px;
  font-weight: bold;
  /*margin: 0.7em;*/
}
-->
#yearDecadeRadios {
  position: fixed;
  bottom: 80px;
  left: 50px;
  background: #FF931E;
  color: #fff;
  padding: 0.3em;
  transition: 0.5s;
  border-radius: 4px 4px 4px 4px;
  z-index: 1; /*keep on top*/
}
.legend {
  position: relative;
  font-size: 16pt;
  color: white;
  left: 10px;
  margin: 10px;
  transition: 0.5s;
  height: auto;
}
.legend .closebtn {
  position: relative;
  font-size: 24pt;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}
.legend .closebtn:hover {
  color: #00aeff;
}
#legendTable td {
  padding: 5px;
}
#gold, #silver, #copper {
  text-align: center;
}
#legendOpened {
  display: none;
}
#legendClosed {
  display: block;
}
#layerControlOpened {
  display: none;
}
#layerControlClosed {
  display: block;
}
#active-mints{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}
#mintInfo{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}
#mintInfo1{
  position: fixed;
  top: 4em;
  left: 0;
  bottom: 30vh;
  width: 0;
}
#mintInfo2{
  position: fixed;
  top: 4em;
  left: 0;
  bottom: 30vh;
  width: 0;
}
#mintInfo3{
  position: fixed;
  top: 4em;
  left: 0;
  bottom: 30vh;
  width: 0;
}
#authorityInfo{
  position: fixed;
  top: 70vh;
  left: 0;
  /*bottom: 20vh;*/
  width: 0;
}
#authorityInfo1{
  position: fixed;
  top: 75vh;
  left: 0;
  bottom: 0;
  width: 0;
}
#authorityInfo2{
  position: fixed;
  top: 75vh;
  left: 10vw;
  bottom: 0;
  width: 0;
}
#authorityInfo3{
  position: fixed;
  top: 75vh;
  left: 20vw;
  bottom: 0;
  width: 0;
}
#main {
  height: 100%;
  transition: margin-left 0.5s;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.modal-trigger {
  position: relative;
  font-size: 24pt;
  color: white;
  left: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.modal-trigger:hover {
  color: #00aeff;
}
#info-toggle {
  top: 50px;
}
.layer-control-dropdown {
  position: relative;
  font-size: 16pt;
  color: white;
  left: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.layer-control-dropdown .closebtn {
  font-size: 24pt;
}
.layer-control-dropdown a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.layer-control-dropdown a:hover {
  color: #00aeff;
}
.leaflet-bar{
  box-shadow: none;
  position: fixed;
  bottom: 20px;
  left: 10px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal h1 {
  margin-left: 15px;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.8);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Timeline styles */

.leaflet-control.leaflet-timeline-control {
  width:96%;
  background-color: rgba(0,0,0,0);
  margin-left:10vw;
  margin-bottom:20px;
  text-align:center;
  border: 0px;
}

.leaflet-control.leaflet-timeline-control input[type=range] {
  width:60%;
  background-color: rgba(0,0,0,0);
  border: 0px;
}

.leaflet-timeline-control.leaflet-timeline-control .sldr-ctrl-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: -60px;
}

.time-text {
  position: fixed;
  font-family: monospace;
  font-size: 36pt;
  top: 20px;
  right: 20px;
  color: white;
}

.time-text::before {
  content: 'Year: ';
}

.leaflet-control.leaflet-timeline-control .button-container button {
width:5%;
height:20px;
background-color: rgba(0,0,0,0);
border: 0px;
}

.leaflet-control .leaflet-timeline-control .button-container button:after,.leaflet-control.leaflet-timeline-control .button-container button:before {content:"";position:absolute}

.leaflet-control.leaflet-timeline-control .button-container button.play:before {
border-width:12px 0 12px 16px;
border-left-color:#fff;
border-radius: 4px;
margin-top:7px;
background:transparent;
margin-left:-3px
}

.leaflet-control.leaflet-timeline-control .button-container button.pause { display:none }

.leaflet-control.leaflet-timeline-control .button-container button.pause:before {
width:6px;
height:25px;
border-width:0 4px;
margin-top:7px;
margin-left:-10px;
background: #fff;
border-radius: 4px;
}

.leaflet-control.leaflet-timeline-control .button-container button.pause:after {
width:6px;
height:25px;
border-width:0 4px;
border-radius: 4px;
margin-top:7px;
margin-left:6px;
background: #fff;
}

.leaflet-control.leaflet-timeline-control .button-container button.prev:after,.leaflet-control.leaflet-timeline-control .button-container button.prev:before {
margin:0px 0 0;
background:#fff
}

.leaflet-control.leaflet-timeline-control .button-container button.prev:before {
width:4px;
height:25px;
margin-top:7px;
border-radius: 4px;
margin-left:-9px
}

.leaflet-control.leaflet-timeline-control .button-container button.prev:after {
border-width:12px 16px 12px 0;
border-radius: 4px;
border-right-color:#fff;
margin-top:7px;
margin-left:-5px;
background:transparent
}

.leaflet-control.leaflet-timeline-control .button-container button.next:after,.leaflet-control.leaflet-timeline-control .button-container button.next:before {
  margin:-8px 0 0;
  background:#fff
}

.leaflet-control.leaflet-timeline-control .button-container button.next:before {
  width:4px;
  height:25px;
  border-radius: 4px;
  margin-top:7px;
  margin-left:11px
}

.leaflet-control.leaflet-timeline-control .button-container button.next:after {
  border-width:12px 0 12px 16px;
  border-radius: 4px;
  border-left-color:#fff;
  margin-top:7px;
  margin-left:-5px;
  background:transparent
}

.leaflet-control.leaflet-timeline-control.playing button.pause { display:inline-block; }

.leaflet-control.leaflet-timeline-control.playing button.play { display:none }

/* Custom range input styles */

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #00aeff;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #00aeff;
  border-radius: 4px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00aeff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #00aeff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00aeff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00aeff;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
 .closebtn {
   left: 0;
 }
 .aboutclosebtn {
   left: -5%;
 }
 .overlay-content {
   text-align: left;
 }
 .overlay a {
   font-size: 20pt;
   padding-bottom: 0px;
 }
 .mental-maps-menu {
   margin-top: 150px;
 }
 .admin-maps-menu {
   margin-top: 95px;
 }
}

@media screen and (max-height: 550px) {
 .overlay a {
   font-size: 18pt;
   padding-bottom: 0px;
 }
 #home-title {
   font-size: 20pt;
 }
 #home-title::after {
   content:'------';
 }
}

@media screen and (max-height: 450px) {
 #home-title {
   margin-bottom: -10px;
 }
 .closebtn {
   margin-top: -55px;
 }
}
